mixin logo-and-nav()
  +b('aside').logo-and-nav
    +e.logo
      +b('button').jsOpenMenu
        +e('span')
        +e('span')
        +e('span')
      +b('span')(name ='main').jsAnimTo
        +e('img')(src='assets/images/logo.svg')
    +e('ul').nav
      +e('li')(name ='main').nav-li.jsShowLine.jsAnimTo
        +e('span')
        +e('p') 01
          +e('span') main
      +e('li')(name ='services').nav-li.jsShowLine.jsAnimTo
        +e('span')
        +e('p') 02
          +e('span') services
        +e.line
          +e('span').line-gray.jsAddDelay
          +e('span').line-white.jsAddDelay
          +e.line-circle
            +b('span').jsAddDelay
            +b('span').jsAddDelay
      +e('li')(name ='portfolio').nav-li.jsShowLine.jsAnimTo
        +e('span')
        +e('p') 03
          +e('span') portfolio
        +e.line
          +e('span').line-gray.jsAddDelay
          +e('span').line-white.jsAddDelay
          +e.line-circle
            +b('span').jsAddDelay
            +b('span').jsAddDelay
      +e('li')(name ='about-us').nav-li.jsShowLine.jsAnimTo
        +e('span')
        +e('p') 04
          +e('span') about as
        +e.line
          +e('span').line-gray.jsAddDelay
          +e('span').line-white.jsAddDelay
          +e.line-circle
            +b('span').jsAddDelay
            +b('span').jsAddDelay
      +e('li')(name ='contact-us').nav-li.jsShowLine.jsAnimTo
        +e('span')
        +e('p') 05
          +e('span') contact us
        +e.line
          +e('span').line-gray.jsAddDelay
          +e('span').line-white.jsAddDelay
          +e.line-circle
            +b('span').jsAddDelay
            +b('span').jsAddDelay
