mixin services()
  +b('section').services#services
    +b.services-item
      +e('span').num 01
      +e('img')(src='assets/images')
      +e.text
        +e('h4') Design
        +e('p') Have your visitors entertained with a unique UI design and interactive UX for your website
    +b.services-item
      +e('span').num 02
      +e('img')(src='assets/images')
      +e.text
        +e('h4') programming
        +e('p') Build up your own customized website with a strong, stable techniques and bug-free codes
    +b.services-item
      +e('span').num 03
      +e('img')(src='assets/images')
      +e.text
        +e('h4') MAINTENANCE
        +e('p') Ensure the reliability, stability and the successful growth of your business.
