mixin menu()
  +b.menu.jsShowMenu
    +e('ul').nav
      +b('li')(name ='services').jsAnimTo
        +e('span') 01
        +e('p') SERVICES
      +b('li')(name ='portfolio').jsAnimTo
        +e('span') 02
        +e('p') PORTFOLIO
      +b('li')(name ='about-us').jsAnimTo
        +e('span') 03
        +e('p') ABOUT US
      +b('li')(name ='contact-us').jsAnimTo
        +e('span') 04
        +e('p') CONTACT US
    +e('ul').soc
      +e('li')
        +e('a')(href='#') Instagram
      +e('li')
        +e('a')(href='#') Facebook
      +e('li')
        +e('a')(href='#') Youtube
      +e('li')
        +e('a')(href='#') Linkedin
