mixin menu()
  +b.menu
    +e('ul')
      +e('li')(name ='services')
        +e('span') 01
        +e('p') SERVICES
      +e('li')(name ='portfolio')
        +e('span') 02
        +e('p') PORTFOLIO
      +e('li')(name ='about-us')
        +e('span') 03
        +e('p') ABOUT US
      +e('li')(name ='contact-us')
        +e('span') 04
        +e('p') CONTACT US
