.main-section
  position: relative
  display: block
  width: 100vw
  height: 100vh
  max-height: 100vh
  padding: 342px 0 0 98px
  background: url(../images/bg-main.png) no-repeat 50% 50%
  z-index: 1001

  &:before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: url(../images/main-page.png) no-repeat 50% 50%
    z-index: 2

  &__text
    position: relative
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 740px
    z-index: 5

    & p
      margin: 0 0 50px
      color: #FFFFFF
      font-family: 'Montserrat', sans-serif
      font-size: 68px
      font-weight: bold
      line-height: 85px

#lottie
  position: absolute
  top: 0
  left: 129px
  display: block
  width: 100vw
  height: 100vh
  text-align: center
  overflow: hidden
  transform: translate3d(0,0,0)
  opacity: 1
  z-index: 4
