mixin portfolio()
  +b('section').portfolio#portfolio
    +e('img')(src='assets/images/comet-1.png').comet1
    +e('img')(src='assets/images/comet-2.png').comet2
    +e('img')(src='assets/images/comet-3.png').comet3
    +e.text
      +e('p') connecteam
      +e('p') UX/UI Design, Programming
      +e('span') Antique Motor Cars Website - prominent antique car <br> re-seller in tri-state area.
      +b('button').btn View project
    +b.slider
      +b('button').next next
      +e('ul').list
        +e('li').slide
          +e('img')(src='assets/images/portfolio-slide.png')
        +e('li').slide
          +e('img')(src='assets/images/portfolio-slide.png')
        +e('li').slide
          +e('img')(src='assets/images/portfolio-slide.png')

      +b('button').prev prev
      +e.dots
