extends ../components/layout-default/layout-default
include ../components/main-section/main-section
include ../components/logo-and-nav/logo-and-nav
include ../components/services/services

block head
    - var pageTitle = 'Index Page';

block content
  +logo-and-nav()
  +main-section()
  +services()
