mixin about-us()
  +b('section').about-us#about-us
    +e('img')(src='assets/images/about-us-bg.png').bg
    +e.block
      +e('h2') Hello, We are
        +e('img')(src='assets/images/logo.svg')
      +e('p') We perfectly understand what an Internet product should be and how to achieve it.
        |  We combine digital mastery with innovative thinking to realize all your ideas and wishes.
      +e('p') We offer an exceptional level of service and strive to become long-term partners.

