*
  box-sizing: border-box

body
  position: relative
  overflow-x: hidden

  &:before
    content: ''
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: url("../images/bg-main.png") no-repeat 50% 50%
    z-index: 1
